@mixin flex($disp: flex, $dir: null, $ali: null, $just: null) {
  display: $disp;
  flex-direction: $dir;
  align-items: $ali;
  justify-content: $just;
}

@mixin mq($size) {
  @media ($size) {
    @content;
  }
}
