.card-container {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  @include mq($bp-m) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include mq($bp-l) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
